{% extends "main/base.html" %}
{% block content %}
{% load static %}
<meta name="description" content="We help organizations to transform their ideas into innovative solutions with robust & high-end solutions. Get your custom app with unique & user-friendly design and development">
<meta name="keywords" content="Best software development company, Python Django Web Development Company, Python Django Web Development Services, Python Django Development Company, Django website development, Django web development, Django developers India, Sabertooth Technologies; best web development company, Python devlopment company in India, Website Development, Application Development, Custom Software Development,Python, Django, MongoDB, React Native, Node JS, Angular js, Amazon web services, Celery, Docker, Machine Learning, Artificial Intelligence">
<link rel="stylesheet" type="text/css" href="{% static "css/about.css" %}">


<!--START About section-->
<div class="bg-black">
    <div class="container">
        <div class="row d-flex justify-content-center" style="background-color: black;">
            <div class="col-lg-12" >
                <figure class="d-flex justify-content-center">
                    <img src="{% static 'images/SabertoothLogo-2.jpg' %}" alt="Image" class="img-fluid logo"  data-aos="fade-right" data-aos-delay="50">
                </figure>
            </div>
        </div>
        <div class="row d-flex justify-content-center"  data-aos="fade-right" data-aos-delay="250">
            <p class="tagline">"A Place where analysis is tangible."</p>
        </div>
        <div class="row" style="background-color: black;">
            <div class="col-lg-12" >
                <p id="about-content" data-aos="fade-up" data-aos-delay="450">We are a fast-growing IT Solutions Company committed to develop ideas and concepts into meaningful product/service for every domain. At Sabertooth Technologies, we believe in developing sustainable products and solving problems through innovation. The responsiveness and all-in approach of our technical experts delivers excellent Analytics, Artificial Intelligence, Application and Web Development services for clients worldwide.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-12">
                <div class="row">
                    <div class="col-lg-12 col-12  d-flex justify-content-center">
                        <p class="title">Our Values</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-12" style="text-align: center;" data-aos="fade-up" data-aos-delay="50">
                        <img src="{% static 'images/one.png' %}" alt="Image" class="img-fluid valnum"  >
                        <h4 class="valhead"  data-aos="fade-up" data-aos-delay="50">ADAPTABILITY</h4>
                        <p class="valtext">We keep our effectiveness unwithered irrespective of constantly changing situations.</p>
                    </div>
                    <div class="col-lg-3 col-12" style="text-align: center;" data-aos="fade-up" data-aos-delay="150">
                        <img src="{% static 'images/two.png' %}" alt="Image" class="img-fluid valnum"  >
                        <h4 class="valhead"  data-aos="fade-up" data-aos-delay="50">INNOVATIVE</h4>
                        <p class="valtext">We strongly believe that progress happens only through constant innovation.</p>
                    </div>
                    <div class="col-lg-3 col-12" style="text-align: center;" data-aos="fade-up" data-aos-delay="250">
                        <img src="{% static 'images/three.png' %}" alt="Image" class="img-fluid valnum"  >
                        <h4 class="valhead" data-aos="fade-up" data-aos-delay="50">AMBITIOUS</h4>
                        <p class="valtext">We follow through our goals and go that extra mile, doing work that we are proud of.</p>
                    </div>
                    <div class="col-lg-3 col-12" style="text-align: center;" data-aos="fade-up" data-aos-delay="350">
                        <img src="{% static 'images/four.png' %}" alt="Image" class="img-fluid valnum"  >
                        <h4 class="valhead" data-aos="fade-up" data-aos-delay="50">TRUSTWORTHY</h4>
                        <p class="valtext">We always maintain integrity by saying what we mean and doing what we say.</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 10%;">
                    <div class="col-lg-12 col-12  d-flex justify-content-center">
                        <p class="title">Our Leadership</p>
                    </div>
                </div>
                <div class="row" style="margin-top: 4%;">
                    <div class="col-lg-3 col-12" style="text-align: center;" data-aos="fade-up" data-aos-delay="50">
                        <!-- <img src="{% static 'images/kalash.jpeg' %}" style="object-position:50% 50%;max-width:80%; max-height:50%; object-fit:cover" class="img-fluid rounded-circle bg-dark border-danger" alt="no image" data-aos="fade-up" data-aos-delay="50"> -->
                        <h4 class="valhead" data-aos="fade-up" data-aos-delay="50">Kalash Tirpude</h4>
                        <h6 class="valhead2" data-aos="fade-up" data-aos-delay="50">CEO</h6>
                        <p class="valtext">Kalash Tirpude, Founder and CEO, trained as a financial analyst and a background in data science is a leader that instils perfection and resilience within company's operations and delivery of services.</p>
                    </div>
                    <div class="col-lg-3 col-12" style="text-align: center;"  data-aos="fade-up" data-aos-delay="150">
                        <!-- <img src="{% static 'images/musharaf.jpeg' %}" style="object-position:50% 50%;max-width:80%; max-height:50%; object-fit:cover" class="img-fluid rounded-circle bg-dark border-danger" alt="no image" data-aos="fade-up" data-aos-delay="50"> -->
                        <h4 class="valhead" data-aos="fade-up" data-aos-delay="50">Musharaf Iqbal</h4>
                        <h6 class="valhead2" data-aos="fade-up" data-aos-delay="50">COO</h6>
                        <p class="valtext">Musharaf Iqbal, COO, facilitates, regulates and maintains strong working culture and vision of Sabertooth Technologies alongwith maintaining strong digital presence and value through quality work.</p>
                    </div>
                    <div class="col-lg-3 col-12" style="text-align: center;"  data-aos="fade-up" data-aos-delay="250">
                        <!-- <img src="{% static 'images/kamalesh.jpeg' %}" style="object-position:50% 50%;max-width:80%; max-height:50%; object-fit:cover" class="img-fluid rounded-circle bg-dark border-danger" alt="no image" data-aos="fade-up" data-aos-delay="50"> -->
                        <h4 class="valhead" data-aos="fade-up" data-aos-delay="50">Kamalesh Ahuja</h4>
                        <h6 class="valhead2" data-aos="fade-up" data-aos-delay="50">Project Manager</h6>
                        <p class="valtext">Kamlesh Ahuja, Project Manager, ensures excellence and seamless operations of the team with dynamic efficiency through cost effectiveness, good communication and technical expertise.</p>
                    </div>
                    <div class="col-lg-3 col-12" style="text-align: center;"  data-aos="fade-up" data-aos-delay="350">
                        <!-- <img src="{% static 'images/kamalesh.jpeg' %}" style="object-position:50% 50%;max-width:80%; max-height:50%; object-fit:cover" class="img-fluid rounded-circle bg-dark border-danger" alt="no image" data-aos="fade-up" data-aos-delay="50"> -->
                        <h4 class="valhead" data-aos="fade-up" data-aos-delay="50">Devyani Panchgam</h4>
                        <h6 class="valhead2" data-aos="fade-up" data-aos-delay="50">HR Manager</h6>
                        <p class="valtext">Devyani Panchgam, HR manager, is integral and sympathetic in all her responsibilities, generating and regulating healthy workforce through quality selection and compliance management.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END About section -->

{% endblock %}