{% extends "main/base.html" %}
{% block content %}
{% load static %}
<meta name="description" content="Sabertooth Technologies is leading custom application development company helps you for Mobile Apps, Business Apps, ERP solutions. We follow adaptive agile approach to build an application.">
<meta name="keywords" content="Application development company, Mobile application Development, ERP development, Enterprise 
mobile application developers, mobile application development, mobile app developers, mobile app development, mobile application developer services, business mobile application development, custom mobile app development, custom mobile app development, Python, Django, MongoDB, React Native, Node JS, Angular js, Amazon web services, Celery, Docker, Selenium, Machine Learning, Artificial Intelligence, Sabertooth Technologies, Python Django service provider, Django service provider, Python service Provider">
<link rel="stylesheet" type="text/css" href="{% static "css/app_development.css" %}">

<!--START Hero Image Section -->
<div class="slider-item innerp overlay" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/application.svg' %});">
    <div class="container">
        <div class="row slider-text align-items-center text-center">
            <div class="col-lg-12 col-sm-12">
                <h1 id="bigger" data-aos="fade-up" data-aos-delay="50">Application Development</h1>
                <p id="big" data-aos="fade-up" data-aos-delay="50">
                    <span style="color: rgb(255, 255, 255);background-color: #14131398;">&nbsp;We design, develop and deploy mobile applications with powerful interface tailored as per your business requirements.&nbsp;</span>
                </p>
                <img src={% static 'images/down-arrow.png' %} data-aos="fade-up" data-aos-delay="50" id="down-arrow"/>
            </div>
        </div>
    </div>
</div>
<!--END Hero Image Section -->


<!--START Key Features Section-->
<section class="our_service section_padding single_page_services" style="background-color: rgb(8, 8, 8); padding-top: 5%; padding-bottom: 8%;">
    <div class="container" style="background-color: rgb(8, 8, 8);">
        <h1 class="text-white text-center" id="title">Key Features</h1>
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;margin-bottom: 3%;">
                <div>
                    <div class="text-white" style="padding-bottom: 30px;">
                        <span><img class="feature-img" src={% static 'images/sketch.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content" >Modern</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;margin-bottom: 3%;">
                <div>
                    <div class="text-white"  style="padding-bottom: 30px;">
                        <span><img class="feature-img" src={% static 'images/cross-platform.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Cross Platform</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;margin-bottom: 3%;">
                <div>
                    <div class="text-white"  style="padding-bottom: 30px;">
                        <span><img class="feature-img" src={% static 'images/clock.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Rapid</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;">
                <div>
                    <div class="text-white"  style="padding-bottom: 10px;">
                        <span><img class="feature-img" src={% static 'images/secure-mobile.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Secure</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;">
                <div>
                    <div class="text-white"  style="padding-bottom: 10px;">
                        <span><img class="feature-img" src={% static 'images/custom-built.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Custom Built</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;">
                <div>
                    <div class="text-white"  style="padding-bottom: 10px;">
                        <span><img class="feature-img" src={% static 'images/user-friendly.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">User Friendly</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END Key Features Section-->

<!--START Services Section-->
<section class="our_service section_padding single_page_services" style="background-color: rgb(8, 8, 8); padding-top: 3%; padding-bottom: 8%;">
    <div class="container" style="background-color: rgb(8, 8, 8);">
        <h1 class="text-white text-center" id="title">Services</h1>
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="50">
                <!-- <span><img class="service-img" src={% static 'images/sketch.png' %} alt="no image"></span> -->
                <h1 class="text-white service-title">MOBILE APPLICATION DEVELOPEMENT</h1>
                <p class="service-content">A well-designed mobile application provides your business with enhanced customer accessibility, tool for spreading brand awareness,
                    better customer service experience for your users, source of data and information and thus, rapid rise in sales.
                    We are proficient in building Android and iOS based mobile application using Java and Swift respectively. We also develop world-class cross platform mobile applications that can run on both iOS and Android using React Native technology. We excel in designing expressive
                    and impressive custom user experiences(UX) and user interfaces (UI) that engages customer from very first second of using your product.
                </p>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="50">
                <!-- <span><img class="service-img" src={% static 'images/sketch.png' %} alt="no image"></span> -->
                <a href="/chatbot/"><h1 class="text-white service-title">CHATBOT DEVELOPEMENT</h1></a>
                <p class="service-content">
                    We create and deploy chatbots with unique interfaces tailored with feature-rich templates for your business. Under the umbrella of our cutting edge technology stack inclusive of Google DialogFlow and Twilio, we attract largest user base and hence deliver bottom-line business success through ultimate scalability

                </p>
            </div>
        </div>
        <div class="row" style="margin-top: 5%;">
            <div class="col-lg-2" data-aos="fade-up" data-aos-delay="50">
            </div>
            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="50">
                <!-- <span><img class="service-img" src={% static 'images/sketch.png' %} alt="no image"></span> -->
                <a href="/webrtc/"><h1 class="text-white service-title">Network and Communication solutions</h1></a>
                <p class="service-content">
                    WebRTC (Web Real-Time Communication) is a free, open-source project that provides web browsers and mobile applications with real-time communication (RTC) via simple application programming interfaces (APIs).

                </p>
            </div>
            <div class="col-lg-2" data-aos="fade-up" data-aos-delay="50">
            </div>
            <!-- <div class="col-lg-6" data-aos="fade-up" data-aos-delay="250">
                <span><img class="service-img" src={% static 'images/sketch.png' %} alt="no image"></span>
                <h1 class="text-white service-title">DEVOPS</h1> 
                <p class="service-content">DevOps automates the processes between Development and Operations team by creating a collaborative work culture which improves agility, optimize resources and allows experimentation with accelerated deliveries. We provide you with a culture of automation and platform design that delivers increased value and rapid service delivery for your business through DevOps.</p>  
            </div> -->
        </div>
    </div>
</section>
<!--END Services Section-->

<!--START App Development Section-->
<!-- <section class="our_service section_padding single_page_services" style="background-color: rgb(8, 8, 8);padding-top: 50px;">
    <div class="container" style="background-color: rgb(8, 8, 8);">
        <div class="row">
            {% for key,value in app_list.basic.items %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="" data-aos="fade-up" data-aos-delay="50">
                <div class="single_feature">
                    <div class="single_service text-white">
                        <h2 class="mb-30 text-right text-white text-justify" id="title">{{ key }}</h2>
                        <div class="row m-auto">
                            <div class="col-md-9 col-12">
                                <p class="text-justify" id="content">{{ value.text }}</p>
                            </div>
                            <div class="col-md-3">
                                <img src="{% static value.image %}" alt="no image" class="w-50 img-fluid" id="imageStyle2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="" data-aos="fade-up" data-aos-delay="50">
                <div class="single_feature">
                    <div class="single_service text-white">
                        <h2 class="mb-30 text-left text-white text-justify" id="title-2">{{ key }}</h2>
                        <div class="row m-auto">
                            <div class="col-md-3">
                                <img src="{% static value.image %}" alt="no image" class="w-75 img-fluid" id="imageStyle">
                            </div>
                            <div class="col-md-9 col-12 mt-sm-20">
                                <p class="text-justify" id="content">{{ value.text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section> -->
<!--END App Development Section-->

<!--START Workflow Section-->
<section class="our_service section_padding single_page_services" style="background-color: rgb(8, 8, 8); padding-top: 3%; padding-bottom: 8%;">
    <div class="workflow" style="background-color: rgb(8, 8, 8);">
        <h1 class="text-white text-center" id="title">Workflow</h1>
        <p class="text-white text-center" style="font-family: 'Montserrat', sans-serif; font-style: italic;">We adopt Agile Model type of Software Development Life Cycle model for our application development process.</p>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-2 col-sm-4 col-12 d-flex justify-content-center flowitem"  data-aos="fade-up" data-aos-delay="50">
                <figure>
                    <img class="workflow-img" src="{% static 'images/research.svg' %}">
                    <p class="text-white text-center" style="font-family:'Poppins', sans-serif;font-size: 18px;">Research</p>
                    <div class="text-center"><img class="workflow-img-2" src="{% static 'images/one.png' %}"></div>
                </figure>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 d-flex justify-content-center flowitem"  data-aos="fade-up" data-aos-delay="150">
                <figure>
                    <img class="workflow-img" src="{% static 'images/ui.svg' %}">
                    <p class="text-white text-center" style="font-family:'Poppins', sans-serif;font-size: 18px;">UI/UX Design</p>
                    <div class="text-center"><img class="workflow-img-2" src="{% static 'images/two.png' %}"></div>
                </figure>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 d-flex justify-content-center flowitem"  data-aos="fade-up" data-aos-delay="250">
                <figure>
                    <img class="workflow-img" src="{% static 'images/development.svg' %}">
                    <p class="text-white text-center" style="font-family:'Poppins', sans-serif;font-size: 18px;">Development</p>
                    <div class="text-center"><img class="workflow-img-2" src="{% static 'images/three.png' %}"></div>                </figure>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 d-flex justify-content-center flowitem"  data-aos="fade-up" data-aos-delay="350">
                <figure>
                    <img class="workflow-img" src="{% static 'images/test.svg' %}">
                    <p class="text-white text-center" style="font-family:'Poppins', sans-serif;font-size: 18px;">Testing</p>
                    <div class="text-center"><img class="workflow-img-2" src="{% static 'images/four.png' %}"></div>                </figure>
            </div>
            <div class="col-lg-2 col-sm-4 col-12 d-flex justify-content-center flowitem"  data-aos="fade-up" data-aos-delay="450">
                <figure>
                    <img class="workflow-img" src="{% static 'images/deploy.svg' %}">
                    <p class="text-white text-center" style="font-family:'Poppins', sans-serif;font-size: 18px;">Deployment</p>
                    <div class="text-center"><img class="workflow-img-2" src="{% static 'images/five.png' %}"></div>                </figure>
            </div>
        </div>
    </div>
</section>
<!--END Workflow Section-->

<!--START Technology Section-->
<div class="section" style="background-color:rgb(12, 12, 12);padding-top: 6%;padding-bottom: 3%;">
    <div class="container fade-up" style="background-color:rgb(12, 12, 12);">
        <div class="row">
            <div class="site-section-heading text-center mb-2 w-border col-md-6 mx-auto">
                <h1 class=" text-white mb-3" id="title">Technology Stack</h1>
            </div>
        </div>
        <div class="container fade-up" style="background-color:rgb(8, 8, 8);">
            <div class="row">
                {% for key,value in app_list.techstack.items %}
                <div class="col-md-3 col-lg-3 col-sm-4 col-4 bg-outline-dark text-center my-4 service" data-aos="fade-up" data-aos-delay="50">
                    <!-- <i class="fab fa-node-js fa-3x text-dark"></i> -->
                    <img src="{% static value.image %}" style="object-position:50% 50%;max-width:45%; height:auto; object-fit:cover" class="img-fluid rounded-circle bg-dark border-danger" alt="no image">
                    <h3 class="text-uppercase mt-4 text-white" id="tech-stack">{{key}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--END Technology Section-->

<!-- START Get in Touch -->
<div class="py-5" style="background-color:rgb(5, 5, 5);">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h3 class="text-white mb-2 font-weight-normal" id="get-in-touch-1"  data-aos="fade-right" data-aos-delay="100">Ready to Innovate & Change the Game?
                </h3>
                <p class="mb-0" data-aos="fade-right" data-aos-delay="200"><a href="{% url 'main:contact' %}"
                        class="btn btn-outline-white rounded px-3 py-2">Get In Touch</a></p>
            </div>
        </div>
    </div>
</div>
<!-- END Get in Touch -->

{% endblock %}