{% extends "main/base.html" %}
{% block content %}
{% load static %}
<meta name="description" content="Sabertooth Technologies is leading database management service provider in India. We can help your business with Live Data API, Data Analytics & Cloud Computing Services">
<meta name="keywords" content="Database management service provider, Live Data API, Data Analytics, Cloude Computing, Data Analysis, AI & Machine Learning, Database management services, Data API, Python, Django, MongoDB, React Native, Node JS, Angular js, Amazon web services, Celery, Docker, Selenium, Machine Learning, Artificial Intelligence, Sabertooth Technologies, Python Django service provider, Django service provider, Python service Provider, Google Cloud Platform, MySQL, Tableu, MS Azure">
<link rel="stylesheet" type="text/css" href="{% static "css/database_management.css" %}">


<!--START Hero Image Section -->
<div class="slider-item innerp overlay" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/database-2.png' %});">
    <div class="container">
        <div class="row slider-text align-items-center text-center">
            <div class="col-lg-12 col-sm-12">
                <h1 id="bigger" data-aos="fade-up" data-aos-delay="50">Data Services</h1>
                <p id="big" data-aos="fade-up" data-aos-delay="50">
                    <span style="color: rgb(255, 255, 255);background-color: #14131398;">&nbsp;In this era of Cloud Computing services, add efficiency to your business operations through our delivery of robust and reliable cloud solutions.&nbsp;</span>                     
                </p>
                <img src={% static 'images/down-arrow.png' %} data-aos="fade-up" data-aos-delay="50" id="down-arrow"/>
            </div>
        </div>
    </div>
</div>
<!--END Hero Image Section -->

<!--START Key Features Section-->
<section class="our_service section_padding single_page_services" style="background-color: rgb(8, 8, 8); padding-top: 5%; padding-bottom: 8%;">
    <div class="container" style="background-color: rgb(8, 8, 8);">
        <h1 class="text-white text-center" id="title">Key Features</h1>
        <div class="row ">
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;margin-bottom: 3%;">
                <div>
                    <div class="text-white" style="padding-bottom: 30px;">
                        <span><img class="feature-img" src={% static 'images/functional-2.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content" >Functional</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;margin-bottom: 3%;">
                <div>
                    <div class="text-white"  style="padding-bottom: 30px;">
                        <span><img class="feature-img" src={% static 'images/secure.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Secure</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;margin-bottom: 3%;">
                <div>
                    <div class="text-white"  style="padding-bottom: 30px;">
                        <span><img class="feature-img" src={% static 'images/clock.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Optimised</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;">
                <div>
                    <div class="text-white"  style="padding-bottom: 10px;">
                        <span><img class="feature-img" src={% static 'images/consistent.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Consistent</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;">
                <div>
                    <div class="text-white"  style="padding-bottom: 10px;">
                        <span><img class="feature-img" src={% static 'images/scalable.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Scalable</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-6" data-aos="fade-up" data-aos-delay="50" style="text-align: center;">
                <div>
                    <div class="text-white"  style="padding-bottom: 10px;">
                        <span><img class="feature-img" src={% static 'images/user.png' %} alt="no image"></span>
                        <h4 class="text-white feature-content">Multi-User Access</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END Key Features Section-->

<!--START Services Section-->
<section class="our_service section_padding single_page_services" style="background-color: rgb(8, 8, 8); padding-top: 3%; padding-bottom: 8%;">
    <div class="container" style="background-color: rgb(8, 8, 8);">
        <h1 class="text-white text-center" id="title">Services</h1>
        <div class="row">
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="50">
                <!-- <span><img class="service-img" src={% static 'images/sketch.png' %} alt="no image"></span> -->
                <h1 class="text-white service-title">CLOUD COMPUTING</h1>
                <p class="service-content">Cloud computing refers to the delivery of computer services like storage, database, analytics and software over the cloud to offer faster innovation in lesser operating costs. We offer cloud computing services that would help you to run your business more efficiently.</p>    
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="250">
                <!-- <span><img class="service-img" src={% static 'images/sketch.png' %} alt="no image"></span> -->
                <h1 class="text-white service-title">DATA ANALYTICS</h1> 
                <p class="service-content">In data analytics, data is extracted and categorized in order to derive various patterns, relations, connections and other valuable insights from it. We provide highly secure and detail-oriented data analytics to provide efficient outcomes necessary for your enterprise.</p>  
            </div>
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="450">
                <!-- <span><img class="service-img" src={% static 'images/sketch.png' %} alt="no image"></span> -->
                <h1 class="text-white service-title">LIVE DATA API</h1>
                <p class="service-content">We turn data from multiple sources into machine-readable data feed which can be accessed by anyone. We deliver clean, structured, and organized datasets which can be integrated quickly and easily.  Experience the most advanced database management service which include Data Analysis, AI & Machine Learning.</p>
            </div>
        </div>
    </div>
</section>
<!--END Services Section-->

<!--START Technology Section-->
<div class="section" style="background-color:rgb(12, 12, 12); padding-top: 6%;padding-bottom: 3%;">
    <div class="container fade-up" style="background-color:rgb(12, 12, 12);">
        <div class="row">
            <div class="site-section-heading text-center mb-2 w-border col-md-6 mx-auto">
                <h1 class=" text-white mb-3" id="title">Technology Stack</h1>
            </div>
        </div>
        <div class="container fade-up" style="background-color:rgb(8, 8, 8);">
            <div class="row">
                {% for key,value in database_list.techstack.items %}
                <div class="col-md-3 col-lg-3 col-sm-4 col-4 bg-outline-dark text-center my-4 service" data-aos="fade-up" data-aos-delay="50">
                    <!-- <i class="fab fa-node-js fa-3x text-dark"></i> -->
                    <img src="{% static value.image %}" style="object-position:50% 50%;max-width:45%; height:auto; object-fit:cover" class="img-fluid rounded-circle bg-dark border-danger" alt="no image">
                    <h3 class="text-uppercase mt-4 text-white" id="tech-stack">{{key}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--END Technology Section-->

<!-- START Get in Touch -->
<div class="py-5" style="background-color:rgb(5, 5, 5);">
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <h3 class="text-white mb-2 font-weight-normal" id="get-in-touch-1"  data-aos="fade-right" data-aos-delay="100">Ready to Innovate & Change the Game?
                </h3>
                <p class="mb-0" data-aos="fade-right" data-aos-delay="200"><a href="{% url 'main:contact' %}"
                        class="btn btn-outline-white rounded px-3 py-2">Get In Touch</a></p>
            </div>
        </div>
    </div>
</div>
<!-- END Get in Touch -->

{% endblock %}