/* START Hero Image */
#bigger{
    font-size:5vw;
    font-family: 'Montserrat', sans-serif;  
}
#big{
    font-size:1.5vw;
    font-weight:normal;
    font-family: 'Montserrat', sans-serif;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 7%;    
}
#down-arrow{
    margin-top:10%;
}
/* END Hero Image */

/* START Feature Section */
.feature-img{
    width: 27%;
    height: 27%;
    padding-bottom: 8%;
    }
.feature-content{
    font-size:18px;
    font-family: 'Montserrat', sans-serif;
}
/* END Feature Section */

/* START Service Section */
#title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 6%;
}
.service-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    border: 1px dashed white;  
}
.service-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 19px;
    text-align:center;
    margin-top: 8%;
    /* border: 1px solid white; */
}
/* END Service Section */

/* START Tech Stack */
#tech-stack{
font-size:20px; 
font-weight:bold;
font-family: 'Muli', sans-serif;
}
/* END Tech Stack */


/* START Workflow */
.workflow{
margin-left: 10%;
margin-right: 10%;
}
.workflow-img{
width: 100%;
height: 100%;
padding-right: 12%;
padding-left: 12%;
}
.workflow-img-2{
width: 22%;
height: 22%;
text-align: center;
}
/* END Workflow */

/* START GIT */
#get-in-touch-1{
font-size:30px; 
padding-bottom: 20px;
font-family: 'Montserrat', sans-serif;
}
/* END GIT */

@media(max-width: 992px){

/* START Hero Image */
#bigger{
    font-size:5vw;
    font-family: 'Montserrat', sans-serif;  
}
#big{
    font-size:2vw;
    font-weight:normal;
    font-family: 'Montserrat', sans-serif;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 7%;    
}
/* END Hero Image */

/* START Feature Section */
.feature-content{
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
}
/* END Feature Section */

/* START Service Section */
#title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 8%;
}
.service-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    border: 1px dashed white;  
}
.service-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align:center;
    margin-top: 4%;
    /* border: 1px solid white; */
}
/* END Service Section */

/* START Tech Stack */
#tech-stack{
    font-size:18px; 
    font-weight:bold;
    font-family: 'Muli', sans-serif;
}
/* END Tech Stack */


/* START Workflow */
.workflow{
    margin-left: 10%;
    margin-right: 10%;
}
.workflow-img{
    width: 80%;
    height: 80%;
    padding-right: 12%;
    padding-left: 12%;
}
.workflow-img-2{
    width: 15%;
    height: 15%;
    text-align: center;
}
/* END Workflow */

/* START GIT */
#get-in-touch-1{
    font-size:25px; 
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
/* END GIT */
}

@media(max-width:576px){
/* START Hero Image */
#bigger{
    font-size:8vw;
    font-family: 'Montserrat', sans-serif;  
}
#big{
    font-size:4vw;
    font-weight:normal;
    font-family: 'Montserrat', sans-serif;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 7%;    
}
/* END Hero Image */

/* START Feature Section */
.feature-content{
    font-size:16px;
    font-family: 'Montserrat', sans-serif;
}
/* END Feature Section */

/* START Service Section */
#title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    margin-bottom:15%;
}
.service-title{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    margin-bottom: 8%;
    border: 1px dashed white;  
}
.service-content{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 13px;
    text-align:center;
    margin-bottom: 10%;
    /* border: 1px solid white; */
}
/* END Service Section */

/* START Tech Stack */
#tech-stack{
    font-size:15px; 
    font-weight:bold;
    font-family: 'Muli', sans-serif;
}
/* END Tech Stack */


/* START Workflow */
.workflow{
    margin-left: 10%;
    margin-right: 10%;
}
.workflow-img{
    width: 85%;
    height: 85%;
    padding-right: 12%;
    padding-left: 12%;
}
.workflow-img-2{
    width: 12%;
    height: 12%;
    text-align: center;
}
.flowitem{
    margin-bottom: 15%;
}
/* END Workflow */

/* START GIT */
#get-in-touch-1{
    font-size:18px; 
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
/* END GIT */
}